<app-navbar></app-navbar>
<div class="flex flex-col items-center mt-28 p-4">
  <div class="flex justify-between items-center gap-8">
    <h1 class="text-4xl font-bold mb-4">Announcements</h1>
    <button (click)="openModal()" class="mb-4 py-2 px-4 bg-[#1BA098] text-white rounded cursor-pointer hover:animate-pulse">New</button>
  </div>
  <hr class="border-t-2 border-[#DEB992] w-3/4 mb-8">
  <div class="grid gap-8 w-full max-w-4xl place-items-center">
    <div *ngFor="let announcement of paginatedAnnouncements" 
    class="bg-[#051622] rounded-lg border border-white shadow-md p-4 w-5/6 h-auto min-h-[150px] flex flex-col justify-center items-center relative">
      <!-- Top section with author and date -->
      <div class="w-full flex justify-between items-center mb-4 md:mb-2">
        <div>
          <span *ngIf="announcement.author && announcement.author.profile" class="font-bold text-white font-mulish">
            {{ announcement.author.profile.firstName }} {{ announcement.author.profile.lastName }}
          </span>
          <span *ngIf="!announcement.author || !announcement.author.profile" class="font-bold text-white font-mulish">
            Unknown Author
          </span>
        </div>
        <div>
          <span class="text-white font-mulish">{{ announcement.date | date: "MMMM d, y" }}</span>
        </div>
      </div>
    
      <!-- Content section with title and message -->
      <div class="w-full pt-2 md:pt-0">
        <div class="text-white text-center font-inter mb-4">
          <h3 class="text-2xl font-bold">{{ announcement.title }}</h3>
        </div>
        <div class="text-white text-center font-inter">
          {{ announcement.message }}
        </div>
      </div>
    </div>
  </div>
<div class="fixed bottom-10 left-1/2 -translate-x-1/2 flex justify-between items-center w-full max-w-4xl px-4">
  <button (click)="prevPage()" [disabled]="currentPage === 1" 
    class="py-2 px-4 bg-[#1BA098] text-white rounded-lg shadow-md transition-all hover:bg-[#158A83] 
    disabled:bg-gray-500 disabled:cursor-not-allowed">
    Previous
  </button>
  <span class="text-white mx-4">{{ currentPage }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= announcements.length" 
    class="py-2 px-4 bg-[#1BA098] text-white rounded-lg shadow-md transition-all hover:bg-[#158A83] 
    disabled:bg-gray-500 disabled:cursor-not-allowed">
    Next
  </button>
</div>

<!-- Modal -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" (click)="closeModal()">
  <div class="bg-[#051622] p-8 rounded-lg shadow-lg w-full max-w-md sm:max-w-sm relative" (click)="$event.stopPropagation()">
    <button (click)="closeModal()" class="absolute top-2 right-2 text-red-600 w-8 h-8 bg-black hover:bg-slate-800 text-2xl font-bold cursor-pointer">&times;</button>
    <h2 class="text-2xl font-bold mb-4 text-[#DEB992]">New Announcement</h2>
    <form (ngSubmit)="onSubmit()" class="flex flex-col items-center">
      <div *ngIf="errorMessage" class="mb-4 w-full text-red-600 text-center font-extrabold">
        {{ errorMessage }}
      </div>
      <div class="mb-4 w-full">
        <label for="title" class="block text-[#DEB992]">Title</label>
        <input type="text" id="title" name="title" [(ngModel)]="title" 
               class="mt-1 block w-full px-3 py-2 bg-transparent border-b-2 border-[#DEB992] focus:outline-none focus:border-indigo-500 sm:text-sm"
               [ngClass]="{'border-red-500': errorMessage === 'Title cannot be empty'}"
               required>
      </div>
      <div class="mb-4 w-full">
        <label for="message" class="block text-[#DEB992]">Message</label>
        <textarea id="message" name="message" [(ngModel)]="message" 
                  class="mt-1 block w-full px-3 py-2 bg-transparent border-b-2 border-[#DEB992] focus:outline-none focus:border-indigo-500 sm:text-sm"
                  [ngClass]="{'border-red-500': errorMessage === 'Message cannot be empty'}"
                  required></textarea>
      </div>
      <button type="submit" class="py-2 px-4 bg-[#1BA098] text-white rounded-[25px]">Submit</button>
    </form>
  </div>
</div>