input {
    background: none;
    font-weight: 600;
    color: var(--gold);
    border: none;
    border-bottom: 2px solid var(--gold);
    width: 280px;
    padding: 8px;
    margin-bottom: 25px;
    font-size: 16px;
    transition: all 0.3s;
  }
  
  input:focus {
    outline: none;
    border-color: var(--blue-text);
  }
  
  .submit-button {
    cursor: pointer;
    background-color: var(--blue-text);
    padding: 12px 70px;
    border-radius: 12px;
    border: none;
    color: white;
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    transition: all 0.3s;
  }
  
  .submit-button:hover {
    opacity: 0.9;
  }
  
  .submit-button:disabled {
    background-color: rgb(63, 63, 63);
    color: rgb(143, 143, 143);
    cursor: not-allowed;
  }
  
  .add-user-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0px;
    background-color: rgba(18, 18, 18, 0.7);
    z-index: 1000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  
  .add-user-container {
    position: relative;
    box-sizing: border-box;
    width: 500px;
    max-height: 90vh;
    padding: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--gold);
    background-color: #0b2d45;
    border: 2px solid var(--blue-text);
    border-radius: 12px;
    overflow-y: auto;
    transition: all 0.3s;
  }
  
  .add-user-container:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
  }
  
  label {
    margin-bottom: 8px;
    font-size: 18px;
    color: var(--gold);
  }
  
  .exit-button {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  
  .exit-icon {
    width: 32px;
  }
  
  #users {
    position: relative;
    outline: none;
    padding: 8px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    background-color: #EDF6F9;
    color: black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  }

  .add-button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-bottom: 10px; /* Adds spacing between the select box and the button */
    width: 100%
  }
  
  .add-button {
    cursor: pointer;
    background-color: var(--gold);
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
    outline: none;
    color: black;
    font-size: 14px;
    transition: all 0.3s;
    margin-bottom: 10px;
  }
  
  .add-button:hover {
    opacity: 0.8;
  }
  
  .added-user {
    background-color: var(--blue-text);
    padding: 10px 40px;
    margin: -3px 5px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .added-user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .exit-icon-user {
    position: relative;
    width: 20px;
    left: 148px;
    bottom: 38px;
    cursor: pointer;
  }
  
  .exit-icon-user:hover {
    opacity: 0.7;
  }

  select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--gold);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .space {}

  