<app-navbar></app-navbar>
<div class="mt-40 flex flex-col mx-auto place-items-center text-white" *ngIf="project">
    <div class="bg-black border border-gray-300 p-6 w-2/3 text-white flex justify-between items-center">
    <div>
        <h1 class="text-lg">Project Name: {{ project.name }}</h1>
        <p>Description: {{ project.description }}</p>
        <p>Status: 
            <span [class.text-green-600]="project.active" [class.text-red-600]="!project.active">
                {{ project.active ? 'Active' : 'Inactive' }}
            </span>
        </p>
    </div>
    <button *ngIf="user?.admin"  (click)="setEditing()" class="px-4 py-2 bg-yellow-200 text-black rounded-lg hover:bg-yellow-400">
        Edit
    </button>
    </div>

    <div class="mt-4 w-2/3 h-96 bg-black border border-gray-300 p-6 text-white flex flex-col overflow-auto">
        <div class="flex justify-between items-center">
            <h2 class="text-xl font-semibold">Project Content</h2>
            <div class="flex gap-2">
                <button *ngIf="edit" (click)="doneEditing()" class="bg-black-500 border border-gray-300 text-white px-4 py-2 rounded hover:bg-blue-600">Done</button>
                <button *ngIf="user?.admin"  (click)="editMode()" class="bg-black-500 border border-gray-300 text-white px-4 py-2 rounded hover:bg-blue-600">Edit</button>
            </div>
        </div>

        <ng-container *ngIf="edit; else viewMode">
            <textarea class="w-full h-72 bg-gray-800 text-white p-2 border border-gray-500 rounded mt-2" [(ngModel)]="content"></textarea>
        </ng-container>

        <ng-template #viewMode>
            <p class="mt-2 whitespace-pre-line">
                <img src="/CookSysLogo.png" class="max-w-[200px] bg-white p-5 mb-5 h-auto object-contain" />
                <ng-container *ngIf="project.content; else noContent">
                    <ng-container *ngFor="let part of getContentParts(project.content)">
                        <a *ngIf="isUrl(part)" [href]="part" target="_blank" class="text-blue-400 hover:underline break-all">
                            {{ part }}
                        </a>
                        <span *ngIf="!isUrl(part)">{{ part }}</span>
                    </ng-container>
                </ng-container>
            </p>
        </ng-template>
        
        <ng-template #noContent>
            <p class="text-gray-500 italic">There is no content</p>
        </ng-template>
    

    </div>
</div>

<div class="flex flex-col items-center justify-center text-center p-6 rounded-lg max-w-xl mx-auto bg-gray-100 shadow-lg mt-10" *ngIf="!project">
    <h1 class="text-2xl font-bold">Project not found</h1>
</div>


<app-edit-project  *ngIf="project"
[project_description]="project.description"
[project_name]="project.name"
[isActive]="project.active"
[team_id]="0"
[project_id]="project_id"
[active]="editing_project"
(closeMenu)="closeMenuAndRefresh()"
(edited)="closeMenuAndRefresh()">
</app-edit-project>