<div class="flex items-center justify-center min-h-screen p-4">
    <div class="text-center">
      <h1 class="text-[72px] font-bold text-amber-50 font-mulish">COOK SYSTEMS</h1>
      <h2 class="text-xl font-semibold mb-4 text-amber-50">Project Manager</h2>
      <div class="bg-[#051622] p-8 shadow-xl border-[#DEB992] w-full h-1/2 rounded-[25px] border-[5px]">
        <form (ngSubmit)="navigateToSelectCompany()" class="flex flex-col items-center justify-center h-full">
          <div class="h-36 w-36 rounded-full bg-amber-50 shadow-xl mb-8 p-2">
            <img src="CookSysLogo.png" alt="CookSysLogo" class="h-full w-full rounded-full object-contain">
          </div>
          <div *ngIf="errorMessage" class="font-extrabold text-red-500 mb-4">
            {{ errorMessage }}
          </div>
          <div class="mb-4 w-full">
            <label for="username" class="block text-sm font-medium text-[#1BA098BF]">Username</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" class="mt-1 block w-full px-3 py-2 bg-transparent border-b-2 border-white focus:outline-none focus:border-indigo-500 sm:text-sm">
          </div>
          <div class="mb-6 w-full">
            <label for="password" class="block text-sm font-medium text-[#1BA098BF]">Password</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" class="mt-1 block w-full px-3 py-2 bg-transparent border-b-2 border-white focus:outline-none focus:border-indigo-500 sm:text-sm">
          </div>
          <button type="submit" class="py-2 px-4 border border-[#1BA098BF] rounded-full shadow-sm text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 w-[160px] h-[52px] cursor-pointer">
            Login
          </button>
        </form>
      </div>
    </div>
</div>