.team-card-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 21%;
    margin: 20px;
    width: 320px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: var(--darker-blue);
    box-shadow: 0px 0px 6px black;
    transition: all 0.3s;
  }
  
  .team-card-container:hover {
    background-color: rgba(11, 45, 69, 0.8);
  }
  
  .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
  }
  
  .team-name {
    color: #fff;
  }
  
  .projects-num {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .employee-container {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-row-gap: 10px;
    gap: 10px;
    justify-content: center;
    width: 80%;
    width: 90%;
    height: 90%;
  }
  
  .employee-header {
    display: flex;
    border-top: 1px solid var(--beige);
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .employee-title {
    align-self: center;
  }
  
  .employee-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 35px;
    min-height: 35px;
    border-radius: 10px;
    background-color: var(--blue-text);
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.292);
  }
  
  .employee-name-container {
    width: 100%;
  }
  
  .employee-name {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0px;
  }