<nav class="fixed top-0 left-0 w-full bg-[#051622] p-4 shadow-md border-b-2 border-[#DEB992] z-50">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center">
        <div class="w-10 h-10 bg-gray-300 rounded-full mr-2"></div>
        <span class="text-[#F24E1E] font-bold">Acting as Admin</span>
      </div>
      <div class="hidden md:flex space-x-10 text-[48px] font-mulish">
        <a href="/" class="text-[#1BA098]">Home</a>
        <a href="/company" class="text-[#1BA098]">Company</a>
        <a href="/team" class="text-[#1BA098]">Team</a>
        <a href="/users" class="text-[#1BA098]">Users</a>
        <a href="/logout" class="text-[#1BA098]">Logout</a>
      </div>
      <div class="md:hidden">
        <button id="menu-button" class="text-[#1BA098] focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>
    <div id="menu" class="md:hidden flex flex-col mt-4 space-y-2">
      <a href="/" class="text-[#1BA098] border-b-2 border-[#DEB992]">Home</a>
      <a href="/company" class="text-[#1BA098] border-b-2 border-[#DEB992]">Company</a>
      <a href="/team" class="text-[#1BA098] border-b-2 border-[#DEB992]">Team</a>
      <a href="/users" class="text-[#1BA098] border-b-2 border-[#DEB992]">Users</a>
      <a href="/logout" class="text-[#1BA098] border-b-2 border-[#DEB992]">Logout</a>
    </div>
</nav>