/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  background-color: #051622;
  background-image: url("/red_blue_aura.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

textarea:focus, input:focus {
  outline: none;
}