/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  background-color: #051622;
  color: #1BA098BF;
}

textarea:focus, input:focus {
  outline: none;
}

:root {
  --background: #051622; 
  --blue-text: #54A7A2;   
  --gold: #E6BE8A;        
  --dark-blue: #204863;   
  --darker-blue: #0B2D45; 
}