/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  background-color: #051622;
  color: #1BA098BF;
}

textarea:focus, input:focus {
  outline: none;
}